        /* Widths */

.wxs {width: 10%;}
.ws {width: 20%;}
.wm {width: 40%;}
.wmm {width: 50%;}
.wl {width: 60%;}
.wxl {width: 80%;}
.fullw {width: 100%;}

        /* Height */

.hxs {height: 10%;}
.hs {height: 20%;}
.hm {height: 40%;}
.hmm {height: 50%;}
.hl {height: 60%;}
.hxl {height: 80%;}
.fullh {height: 100%;}

        /* Alignements */

.center {align-items: center;}

*>.bottom {align-items: end;}
.bottom {align-items: end;}
.bottom>* {margin-bottom: 0;}

.top {align-items: start;}
*>.top {align-items: start;}
.top>* {margin-top: 0;}

.mid {justify-content: center;}
.left {justify-content: left;}
.right {justify-content: right;}
.spa_ar {justify-content: space-around;}
.spa_be {justify-content: space-between;}

        /* Links */

.no_deco {text-decoration: none;}
.hover_color_on:hover {color: var(--secondary-light-color); border-color: var(--secondary-light-color);}