{% extends "./admin/base.html" %}

{% block content %}
<div class="grid fullh">
    <div class="row spa_ar">
        <div class="cell hm">
            <a href="">
                <div class="card">
                    <div class="image hxl"></div>
                    <div class="content hs">
                        <h1>lol</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="cell hm">
            <a href="">
                <div class="card">
                    <div class="image hxl"></div>
                    <div class="content hs">
                        <h1>lol</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}